
<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-bg-success"
  role="status"
>
  <span class="sr-only"></span>
</div>
<div class="text-bg-info p-3" align="center">Renkler</div>
<ul class="list-group">
  
  <li [class]="getAllColorClass()" routerLink="cars" (click)="reset()">
    Tüm Renkler
  </li>
  <li
    routerLink="cars/color/{{color.colorId}}"
    (click)="setCurrentColor(color)"
    *ngFor="let color of colors"
    class="list-group"
    [class]="getCurrentColorClass(color)"
  >
    {{ color.colorName }}
  </li>
</ul>
