<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-success"
  role="status"
>
  <span class="sr-only"></span>
</div>
<div class="text-bg-info p-3" align="center">Markalar</div>
<ul class="list-group">

  <li [class]="getAllBrandClass()" routerLink="cars" (click)="reset()">
    Tüm Markalar
  </li>
  <li
  routerLink="cars/brand/{{brand.brandId}}"
    (click)="setCurrentBrand(brand)"
    *ngFor="let brand of brands"
    class="list-group"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
  </li>
</ul>
